.background {
    fill: none;
    pointer-events: all;
}

svg circle {
    fill: orange;
    opacity: .5;
    stroke: white;
}
svg circle:hover {
    fill: red;
    stroke: #333;
}
svg text {
    pointer-events: none;
}
svg .municipality {
    fill: skyblue;
    stroke: #fff;
}
.municipality-label {
    fill: #738;
    font-size: 12px;
    font-weight: 300;
    text-anchor: middle;
}
.municipalities :hover {
    fill: orange;
}
.feature {
    fill: skyblue;
    cursor: pointer;
}

.feature.active {
    fill: #F25D12;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

svg #map text {
    color: #333;
    font-size: 10px;
    text-anchor: middle;
}
svg #places text {
    color: #777;
    font: 10px sans-serif;
    text-anchor: start;
}
.municipality-boundary {
    fill: none;
    stroke: #fff;
    stroke-opacity: .25;
    stroke-width: .5px;
    pointer-events: none;
}

path {
    stroke: white;
    stroke-width: .25;
    fill: none;
}

body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;
}

.wrapper {
    position: fixed;
    height: 35px;
}

#Map {
    width: 960px;
    height: 500px;
}

#sideinfo {
    margin: 0 auto;
    padding-top: 70px;
}

#container {
    background-color: #F0F0F0;
    width:1200px;
    margin: 0 auto;
    padding: 10px;
}

.button {
    position: absolute;
    top: 50%;
}

text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}